*{
   margin: 0;
   padding: 0;
   font-family: sans-serif;
}

.nav-bar{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: #00316b;
}

a{
    text-decoration: none;
    color: white;
}

.border:hover{
    background: #e91e63;
}

.toggle{
    width: 100%;
    padding: 10px;
    background: #001f44;
    text-align: right;
    color:#fff ;
    font-size: 35px;
    box-sizing: border-box;
    display: none;
}

@media (max-width:768px){
    .toggle{
        display: block;
    }
    .nav-bar{
        display: block;
        text-align: center;
    }
}