*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgba(0, 0, 0, 0.945);
}
.bigbox{
    height: 500px;
    width: 400px;
    background-color: rgba(30, 29, 29, 0.607);
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 375px;
    margin-right: 450px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.profile{
    padding-top: 35px;
    height: 200px;
    width: 400px;    
    border-radius: 10px;
    color: white;
    text-align: center;
}
h1{
    padding-top: 25px;
}
h4{
    padding-top: 10px;
   color: rgb(237, 234, 51);
}
.pro{
    margin-left: 150px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-image: url(xals0mqfmph6kcspsezk.jpg);
    background-size: cover;
    
}
.content{
    margin-top: 10px;
    height: 280px;
    width: 100%;
}
p{
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.2rem;
    color: white;
}
.box{
    margin-top: 10px;
    margin-left: 50px;
    height: 35px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke-width: 700;
    border-radius:5px;
    background-color: rgb(111, 109, 109);
}
a{
    text-decoration: none;
    font-size: 1.2rem;
    stroke-width: 700;
    color: white;
}
.border:hover {
    background-color: rgb(231, 231, 2);
}