body{
    background-color: #ffffff;
}
.mainSection{
    width: 80%;
    margin-top: 10px;
    margin: auto ;
    background-color: white;
}

.headSection{
    width: auto;
    margin-top: 10px;
    padding: 5px 5px;
    background-color: rgb(0, 0, 0);
}
ul{
    display: flex;
}
li{
    list-style: none;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.contentSection{
    width: 545px;
    margin-top: 10px;
    background-color: #cccccccc;
    padding: 8px;
    float: left;
}
.textArea{
    margin-top: 10px;
    width: auto;
    background-color: #cccccccc;
}
.img-area{
    margin-top: 10px;
}

.sidebarSection{
    margin-top: 10px;
    width: 320px;
    float: right;
    background-color: #cccccccc;
}
.longbarSection{
    margin-top: 10px;
    width: 320px;
    float: right;
    background-color: #cccccccc;
}


@media (max-width:600px){

    .mainSection{
        width: 100%;
    }
    .contentSection{
        float: none;
        width: auto;
    }
    .sidebarSection{
        float: none;
        width: auto;
    }
    .longbarSection{
        float: none;
        width: auto;
    }
    .headSection{
        display: block;
    }
    ul{
        display: block;
    }
    a{
        text-align: center;
    }
    .img-area{
        width: fit-content;
    }
}