*{
    padding: 0%;
    margin: 0%;
}
body{
    display:flex ;
    justify-content: center;
    align-content: center;
}
.area1{
    height: 400px;
    width: 850px;
    padding: 20px;
    background-image: url("bg-hero-desktop.svg");
    background-size: cover;
}
.header{
    height: 25px;
    width: 850px;
    display: flex;
}
.box1{
    height: 25px;
    width: 150px;
    background-image: url(logo.svg);
    background-size: cover;
}
.box2{
    height: 25px;
    width: 150px;
    margin-left: 550px;
    border-radius: 25px;
    background-color: white;
    text-align: center;
}
.tryy{   
   text-decoration: none;
   font-size: 1rem;
   color: rgb(0, 0, 0);
} 
.boxx{
    height: 350px;
    width: 100%;
    display: flex;
    margin-top: 15px;
}
.box3{
    height: 225px;
    width: 275px;
    margin-top: 65px;
} 
.zone-1{
    font-size: 0.8rem;
    color: black;
}
.zone-2{
    margin-top: 20px;
    height: 25px;
    width: 200px;
    padding: 20px;
    border-radius: 50px;
    font-size: 1.5rem;
    background-color: rgb(231, 90, 161);
}
.box4{
    height: 350px;
    width: 500px;
    padding: 10px;
    margin-left: 50px;
    background-image: url(illustration-mockups.svg);
    background-size: cover;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    stroke-width: 700;
}

/* area2 */
.area2{
    height: 300px;
    width: 850px;
    margin-top: 50px;
}
.box-{
    height: 250px;
    width: 750px;
    margin-top: 25px; 
    display: flex;
}
.box-a{
    height: 100px;
    width: 300px;
    margin-top: 100px;
    text-align: center;
    color: #000;
}
.box-img{
    height: 250px;
    width: 350px;
    margin-left: 150px;
    background-image: url(illustration-grow-together.svg);
    background-size: cover;
} 
 /* area-3  */
.area3{
    height: 300px;
    width: 850px;
    margin-top: 50px;
    justify-content: center;
    align-content: center;
}
.box--{
    height: 250px;
    width: 750px;
    margin-top: 25px; 
    display: flex;
}
.box-img2{
    height: 250px;
    width: 350px;
    background-image: url(illustration-flowing-conversation.svg);
    background-size: cover;
}
.box-b{
    height: 100px;
    width: 300px;
    margin-top: 100px;
    margin-left: 100px;
    text-align: center;
    color: #000;
}
/* area4 */
.area4{
    height: 300px;
    width: 850px;
    margin-top: 50px;
    border: 2px,solid,black;
}
.box---{
    height: 250px;
    width: 750px;
    margin-top: 25px; 
    display: flex;
}
.box-c{
    height: 100px;
    width: 300px;
    margin-top: 100px;
    text-align: center;
    color: #000;
}
.box-img3{
    height: 250px;
    width: 350px;
    margin-left: 100px;
    background-image: url(illustration-your-users.svg);
    background-size: cover;
} 
/* footer */

body{
    flex-direction: row;
}
.area1{
    height: 400px;
    width: 850px;
    flex-direction: row;
    
}.area2{
    height: 300px;
    width: 850px;
    flex-direction: row;
}
.area3{
    height: 300px;
    width: 850px;
    flex-direction: row;
}

@media screen and (max-width:600px) {
    body{
        flex-direction: column;
    }
    .area1{
        height: auto;
        width: auto;
        flex-direction: column;
    }.area2{
        height: auto;
        width: auto;
        flex-direction: column;
    }
    .area3{
        height: auto;
        width: auto;
        flex-direction: column;
    }
}