*{
    padding: none;
    margin: none;
}
.img{
    border-radius: 10px;
    margin-top: 10px;
    height: 300px;
    width: 100%;
 background-size: cover;
 display: flex;
 align-items: center;
}
.bigbox{
    margin-top: 50px;
    margin-left: 280px;
    margin-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 100%;
    width: 50%;
    background-color: white;
    border-radius: 15px;
}
h2{
    color:rgb(142, 105, 38) ;
}
li::marker{
   color: rgb(142, 105, 38);
   stroke-width: 700;
}
h3{
    color: rgb(117, 7, 62);
}
.prep{
    background-color: rgb(117, 7, 62,0.09);
}