
*{  font-family: 'Times New Roman', Times, serif;
  margin: 0px;
  padding: 0%;
  color: rgb(247, 255, 255);
}
.border:hover {
  border: 1.5px solid ,white;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgba(27, 26, 26, 0.838);
}
img{
  height: 50px;
  width: 50x;
}
a{
text-decoration: none;
}
.menu{
  height: 25px;
  background-color: darkslategray;
}
li{
  display: inline;
  margin-top: 50%;
  margin-right: 50px;
  text-decoration: none;
 
}
.foot{
  display: flex;
  position:absolute;
  bottom: 0%;
  height: 35px;
  width: 100%;
   background-color: darkslategrey;
  justify-content: space-around;
  align-items: center;
}
.ooop{
  justify-content:space-around;
  align-items: center;
}

.herosection{
  background-image:url(download.jpeg);
  height: 350px;
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#box1{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  color:black;
  font-size: 0.85rem;
  height: 30px;
  width: 100%;
  padding-top: 12px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
#box1 a {
  display: inline;
  color: green;
  padding-top: 5px;
  text-decoration: none;
  font-size:0.85rem;
}

.shop-sec{
  background-color: #e2e7e6;
  display: flex;
  justify-content: space-evenly;
}
.bla{
  border: 1px,solid,black;
 width: 25%;
  height: 250px;
  background-size: cover;
  margin-top: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: white;
}
.box-img{
  height: 200px;
}
h2{
  font-size: 3rem;
  color: black;
}
.dabba1 p{
  font-size: 3rem;
  color: black;
}